.form
	&-group
		background-color rgba(255, 255, 255, 0.6)
		border 1px solid $gris
		border-radius 10px
		color $gris
		margin 2rem auto
		padding 1rem 2rem
		position relative
		transitionBase()
		z-index 1

		&.active
			border-color $azul
			color $gris
			
			label
				background-color white
				color $azul
				pointer-events none
				top -1rem
				transform scale(0.8) translateY(0)
			
		
		&.form-checkbox
			background-color transparent
			border-color transparent
			margin 0 auto
			padding-left 0
			padding-right @padding-left
			text-align center
			
			input,
			label
				display inline-block
				vertical-align top
			
			label
				cursor: pointer
				max-width 80%
				pointer-events all
				position relative
				position relative
				text-align left
				text-transform none !important
				top auto
				transform none
				z-index 1
				
				a
					position relative
					z-index 2
				
			input
				margin-top 0.4rem
				max-width 2rem
				
		
		&.form-file
			background-color transparent
			border-color transparent
			padding-left 1rem
			padding-right @padding-left
			text-align center
			
			label
				color black
				cursor pointer
				display block
				text-transform none !important
				position relative
				// text-align left
				transform none
				top auto
				
			input
				cursor pointer
				display block
				margin 0 auto
				max-width 30rem
				
			.icon
				color $magenta
				
		label
			font-weight $light
			pointer-events none
			position absolute
			text-transform uppercase
			top 50%
			transform translateY(-50%)
			transitionBase()
			z-index 2
			
			sup
				font-size 82%
				top -0.2em

		input,
		select,
		textarea
			background-color transparent
			border none
			color $gris
			margin 0
			min-height 2.3rem
			padding 0
			width 100%
			
		.label-area
			top 15%
			
		.textarea
			textarea
				height 11rem			

.msn-place
	color black
	font-size 1.1rem
	padding 0 0.5rem
	
@media (min-width: 410px)
	.form
		&-group.form-checkbox
			max-width 90%
		
		textarea
			resize none

@media (min-width: $screen-sm)
	.form-file
		float left
		width 50%
		
	.msn-place
		background-color $azul
		border-radius 10px
		color white
		position absolute
		right 0
