.icon	
		
	&-close
		fa(times)
		
	&-fb
		fa(facebook)

	&-ins
		fa(instagram)
	
	&-plus
		fa(plus-circle)

	&-tw
		fa(twitter)
		
	&-yt
		fa(youtube)


.social-list
	border-bottom 1px solid $magenta
	border-top @border-bottom
	list-style-type none
	margin 1rem auto
	max-width 34rem
	padding 1rem 0
	text-align center
	
	li
		display inline-block
		margin 0 0.5rem 
		vertical-align middle
		
		a
			border 1px solid $magenta
			circ(4rem)
			color $magenta
			display block
			font-size 2rem
			padding 0.5rem
			
			&:hover
				background-color $magenta
				color white
			
	// .icon