$amarillo          = #edd017
$azul              = #59B4D0
$gris              = #636262
$magenta           = #FB0677



//Fonts
$font-stack        = 'Montserrat', sans-serif

//font weights
$light             = 300
$normal            = 400
$bold              = 700


//site grid spacing and width
$gutter            = 0.5rem
$site-width        = 100rem

//screen sizes - rewrite bootstrap

// $screen-xs      = 320px // 480px
$screen-sm         = 770px // 768px
$screen-md         = 900px //992px
$screen-lg         = 1000px // 1200px
$grid-gutter-width = $gutter