doctype html
| <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
| <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
| <!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
| <!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
head
	meta(charset='utf-8')
	title Mejor J칩venes | #MejorVargasLleras

	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon")
	
	if !production
		link(rel='stylesheet', href='assets/css/style.css')

	else
		//-El nombre del archivo se debe reemplazar por el atributo name del package.json
		link(rel='stylesheet', href='assets/css/'+name+'.min.css') 

	// Web Fonts
	link(link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet")

	|<!--[if lt IE]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	//- Modernizr para tener compatilibidad de elementos sem치nticos HTML5
	//- & para identificar si el browser soporta css3 para generar reglas especificas en los casos que no soporte una propiedad 
	script(src='assets/js/libs/modernizr-2.6.2.min.js')
	base(href="/")

	|<!-- Google Tag Manager -->
	| <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-T9XM2NP');</script>
	|<!-- End Google Tag Manager -->
 


body
	|<!-- Google Tag Manager (noscript) -->
	|<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9XM2NP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	|<!-- End Google Tag Manager (noscript) -->
		
	//- Root de Angular

	app-root

	
	//-Ac치 se agregan los scripts que pueden estar para una sola p치gina
	block Scripts


| </html>