include ../../templates/partials/mixins.pug

//Intro
header.container-fluid
	
	div.row
		// Logo
		div.logo
			h2: +image('layout/logo-mejor-jovenes.svg', 'Mejor Jóvenes')
		///- Logo

		article.intro
			p.
				<span class="word-welcome">Bienvenido</span> al movimiento de <strong>#MejorJóvenes</strong>. 
				Gracias por tu interés en ser uno de los protagonistas 
				de este equipo. <strong>Con tus ideas y apoyo</strong> 
				lograremos el país que todos soñamos.

			+image('layout/firma.png', 'Firma')(class="firma")
	
	div.diagonal
			+image('layout/vargas.png', 'Germán Vargas Lleras')(class="img-diagonal")


///-Intro
//Formulario
section.container-fluid
	div.row
		h1.text-center.text-copy.
			Inscríbete para recibir el <strong>Kit de Bienvenida</strong> y tomar acción
		
		p.text-center: small Los campos con (*) son obligatorios

		form#youth.form-home(#jovenes="ngForm", novalidate)

			div.form-half
				//Nombre
				div.form-group()
					label(for="nombre")
						| Nombre
						sup *
					input(type="text", id="nombre", name="nombre", required, pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="jovenesForm.nombre", #nombre="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					div.msn-place(*ngIf='nombre.errors && (nombre.dirty || nombre.touched || formSubmitAttempt)')
						div([hidden]="!nombre.hasError('required')") El nombre es requerido
						div([hidden]="!nombre.hasError('pattern')") El nombre no es correcto
					//- | {{nombre}} 

				///-Nombre

				//Apellidos		
				div.form-group
					label(for="apellidos")
						| Apellidos
						sup *
					input(type="text", id="apellidos", name="apellidos", required, pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="jovenesForm.apellido", #apellido="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					div.msn-place(*ngIf='apellido.errors && (apellido.dirty || apellido.touched || formSubmitAttempt)')
						div([hidden]="!apellido.hasError('required')") Los apellidos son requeridos
						div([hidden]="!apellido.hasError('pattern')") Los apellidos son requeridos

				///-Apellidos

				//Teléfono		
				div.form-group
					label(for="tel")
						| Teléfono
						sup *
					input(type="number", min="0", id="tel", name="tel", required, [(ngModel)]="jovenesForm.telefono",#telefono="ngModel",pattern="\\d{7,10}", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					div.msn-place(*ngIf='telefono.errors && (telefono.dirty || telefono.touched || formSubmitAttempt)')
						div([hidden]="!telefono.hasError('required')") El teléfono es requerido
						div([hidden]="!telefono.hasError('pattern')") El teléfono no es correcto

				///-Teléfono

				//email
				div.form-group
					
					label(for="email")
						| Email
						sup *
					input(type="email", id="email", name="email", required, pattern="[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*@[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*[.][a-zA-Z]{1,5}", [(ngModel)]="jovenesForm.correo",#correo="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					div.msn-place(*ngIf='correo.errors && (correo.dirty || correo.touched || formSubmitAttempt)')
						div([hidden]="!correo.hasError('required')") El email es requerido
						div([hidden]="!correo.hasError('pattern')") El email no es correcto
				
				///-email

				//Departamento
				div.form-group.form-dep
					label(for="departamento")
						| Departamento
						sup *
					div.select
						select(id="departamento", name="departamento", required, [(ngModel)]="jovenesForm.departamento", #departamento="ngModel", (change)="getCiudades($event)", (focus)="focusIn($event)", (focusout)="focusOut($event)")
							option(*ngFor="let departamento of departamentos; let departamentoKey = index",[value]="departamento.id") {{departamento.nombre}}
					div.msn-place(*ngIf='departamento.errors && (departamento.dirty || departamento.touched || formSubmitAttempt)')
						div([hidden]="!departamento.hasError('required')") El departamento es requerido

				///-Departamento

				//Municipios
				div.form-group
					label(for="municipio")
						| Municipio
						sup *
					div.select
						select(id="municipio", name="municipio", required, [(ngModel)]="jovenesForm.idCiudad", #ciudad="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
							option(*ngFor="let ciudad of ciudades; let citieKey = index",[value]="ciudad.id") {{ciudad.nombre}}
					div.msn-place(*ngIf='ciudad.errors && (ciudad.dirty || ciudad.touched || formSubmitAttempt)')
						div([hidden]="!ciudad.hasError('required')") El municipio es requerido

				///-Municipios
		
			div.form-half
				
				h2.title-social
					| Queremos Seguirte
					strong en redes sociales:
				

				//Facebook
				div.form-group()
					label(for="nombre") tu Facebook
					input(type="text", id="facebook", name="facebook", pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="jovenesForm.facebook", #facebook="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")

				///-Facebook

				//Instagram
				div.form-group()
					label(for="nombre") tu Instagram
					input(type="text", id="instagram", name="instagram", pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="jovenesForm.instagram", #instagram="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")

				///-Instagram

				//Twitter
				div.form-group()
					label(for="nombre") tu Twitter
					input(type="text", id="twitter", name="twitter", pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="jovenesForm.twitter", #twitter="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")

				///-Twitter

				//Acepto terminos
				div.form-group.form-checkbox
					div.checkbox
						input(type="checkbox", name="politicasH", id="politicasH", required, [(ngModel)]="jovenesForm.politicas",#politicas="ngModel")
						label(for="politicasH")
							| He leído y acepto las condiciones  de 
							a(href="https://www.mejorvargaslleras.com/terminos", target="_blank") tratamiento de datos personales

						div.msn-place(*ngIf='politicas.errors && (politicas.dirty || politicas.touched || formSubmitAttempt)')
							div([hidden]="!politicas.hasError('required')") Los términos y condiciones son requeridos


				///-Acepto terminos
			
			div.clearfix

			p.text-center.
				Queremos conocer tus ideas y propuestas para una <strong>#MEJORCOLOMBIA.</strong>

			//Comentario
			div.form-group
				label.label-area(for="comentario") ¿Qué propones?
				div.textarea
					textarea(id="comentario", name="comentario", pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="jovenesForm.comentario", #comentario="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					
						//- option(*ngFor="let citie of cities; let citieKey = index",[value]="citie.idCity") {{citie.name}}
				div.msn-place(*ngIf='comentario.errors && (comentario.dirty || comentario.touched || formSubmitAttempt)')
					div([hidden]="!comentario.hasError('required')") Escribe algo

			///-Comentario
			
			div.clearfix
			div.form-half.push-half
				//adjuntar
				div.form-group.form-file
					label(for="archivo")
						i.icon.icon-plus
						|  Adjuntar Archivo
					input(type="file", id="archivo", name="archivo", pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="jovenesForm.twitter", #twitter="ngModel")
					
					small Se aceptan archivos pdf y doc, con un peso máximo de 2 mb

				///-adjuntar
				//Submit
				button.btn.btn-magenta.btn-submit((click)="save(jovenes)") Enviar
				///-Submit
				//- h4.text-center() Gracias por su mensaje.
				h4.text-center(*ngIf="msg") Gracias por su mensaje.

			//- div.form-half
			
			div.clearfix

			
		
			div.form-half.col-propuestas
				a(href="https://www.mejorvargaslleras.com/propuestas", target="_blank")
					+image('layout/btn-propuestas.png', 'Conoce aquí nuestrar propuestas')(class="btn-img")

			div.form-half.col-social
				p.text-center.text-copy-sm.
					<strong>Síguenos</strong> en redes para 
					mantenernos conectados

				//Redes Sociales
				ul.social-list
					li
						a(href="https://www.facebook.com/mejorvargaslleras/", rel="nofollow", target="_Blank"): i.icon.icon-fb

					li
						a(href="https://twitter.com/MejorVargasLle", rel="nofollow", target="_Blank"): i.icon.icon-tw

					li
						a(href="https://www.instagram.com/mejorvargaslleras/", rel="nofollow", target="_Blank"): i.icon.icon-ins

					li
						a(href="https://www.youtube.com/channel/UCtluHF0G2FJvobITLggjYOQ", rel="nofollow", target="_Blank"): i.icon.icon-yt

				///-Redes Sociales
					


			div.clearfix
///-Formulario

//Footer
footer.container-fluid
	div.row
		p: a(href="https://www.mejorvargaslleras.com", target="_blank")
			|www.
			strong mejorvargaslleras
			|.com
///-Footer

